 <div class="content_section">
          <div class="content_article">
            <h2>john richardson, md</h2>
            <h3>(member id  0000034667)</h3>
            </div>
          <!-- content_article ends-->
          <div class="text_area">
            <div class="left-text-area">
              <ul>
                <li><%=link_to "Update profile"%></li>
                <li><%=link_to "Add/remove patients"%></li>
                <li><%=link_to "Add/remove third party"%></li>
                <li><%=link_to "Update payment info"%></li>
              </ul>
            </div>
            <!-- left-text-area ends-->

            <div class="right_text_area">
              <div class="provider_column2 fixed-div">
                <div class="provider-left_area">
                  <ul class="provider-details">
                    <li>Provider name comes here</li>
                    <li>619-549-5546</li>
                    <li>Owen Clinic, UCSD</li>
                    <li>2900 Frant Street, Suite 210</li>
                    <li>San Diesgo, CA 92103</li>
                  </ul>
                  <ul class="provider-details">
                    <li>STAFF:</li>
                    <li>Alicia Woodall, Office Manages</li>
                    <li>Margaret Johnson, Nurse Practitioner</li>
                    <li>Sara Colier, Nurse Practitioner</li>
                  </ul>
                  <ul class="provider-details">
                    <li>SECONDARY PROVIDERS:</li>
                    <li>Maile Young, Ms</li>
                  </ul>
                </div>
                <div class="provider-right_area">
                  <table>
                    <tr>
                      <td><%=image_tag "provider-profile_img.jpg", :alt => ""%></td>
                    </tr>                    
                    
                    <tr>
                      <td><%=image_tag "change-photo_img.jpg", :alt => ""%></td>
                    </tr>
                    <tr>
                      <td><%=image_tag "edit_img.jpg", :alt => ""%></td>
                    </tr>
                    <tr>
                      <td>specialities:</td>
                    </tr>
                    <tr>
                      <td>Internal</td>
                    </tr>
                    <tr>
                      <td>Medicine</td>
                    </tr>
                    <tr>
                      <td>Infectious</td>
                    </tr>
                    <tr>
                      <td>Diseases</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- patient_column ends--> 
            </div>
            <!-- right_text_area ends--> 
          </div>
          <!-- text_area ends--> 
        </div>
        <!-- content_section ends-->