<div class="content_section">
          <div class="content_article">
            <h2>Anne chavez-staples</h2>
            <h3>(member id  0000012210)</h3> </div>
          <!-- content_article ends-->
          <div class="text_area">
            <div class="left-text-area">
              <ul>
                <li><%=link_to "Update profile"%></li>
                <li><%=link_to "Add/remove provider"%></li>
                <li><%=link_to "Add/remove third party"%></li>
                <li><%=link_to "Update payment info"%></li>
              </ul>
            </div>
            <!-- left-text-area ends-->
            
            <div class="right_text_area">
              <div class="patient_column fixed-div">
                <div class="patient-left_area">
                  <ul class="patient-details">
                    <li>result will come here</li>
                    <li>PATIENT PHONENUMBER</li>
                    <li>STREET ADDRESS</li>
                    <li>CITY<span>STATE ZIP CODE</span></li>
                  </ul>
                  <ul class="patient-insurance-details">
                    <li>INSURANCE PROVIDER</li>
                    <li>PRIMARY PHYSICIAN</li>
                  </ul>
                  <ul class="patient-medical-details">
                    <li>MEDICAL HISTORY:</li>
                    <li>-CIRCULATORY/CHEST PAIN</li>
                  </ul>
                </div>
                <div class="patient-right_area">
                  <table>
                    <tr>
                      <td colspan="3"><%=image_tag "patient-profile_img.png", :alt => ""%></td>
                      </tr>
                    <tr>
                      <td>Height</td>
                      <td>:</td>
                      <td>4’-11”</td>
                    </tr>
                    <tr>
                      <td>Weight</td>
                      <td>:</td>
                      <td>102 lbs</td>
                    </tr>
                    <tr>
                      <td>Age</td>
                      <td>:</td>
                      <td>60</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- patient_column ends--> 
            </div>
            <!-- right_text_area ends--> 
          </div>
          <!-- text_area ends--> 
        </div>
        <!-- content_section ends-->